<div class="content-wrapper">
    <div class="bg" style="height:700px;">
      <div class="container">
        <div class="table mt-3">
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th>SL</th>
                        <th>Employee name</th>
                        <th>Employee Phone</th>
                        <th>Designation</th>
                        <th>Basic</th>
                        <th>Allowance</th>
                        <th>Deduction</th>
                        <th>Net Salary</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Sakib Ahammed</td>
                        <td>01758173764</td>
                        <td>SD</td>
                        <td>50000</td>
                        <td>5000</td>
                        <td>0</td>
                        <td>55000</td>
                        
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Shirshir</td>
                        <td>01758173764</td>
                        <td>SD</td>
                        <td>50000</td>
                        <td>5000</td>
                        <td>0</td>
                        <td>55000</td>
                        
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Rakib</td>
                        <td>0175800004</td>
                        <td>SD</td>
                        <td>50000</td>
                        <td>5000</td>
                        <td>0</td>
                        <td>55000</td>
                        
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Sakib Ahammed</td>
                        <td>01758173764</td>
                        <td>SD</td>
                        <td>50000</td>
                        <td>5000</td>
                        <td>0</td>
                        <td>55000</td>
                        
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Shirshir</td>
                        <td>01758173764</td>
                        <td>SD</td>
                        <td>50000</td>
                        <td>5000</td>
                        <td>0</td>
                        <td>55000</td>
                        
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>Rakib</td>
                        <td>0175800004</td>
                        <td>SD</td>
                        <td>50000</td>
                        <td>5000</td>
                        <td>0</td>
                        <td>55000</td>
                        
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>Sakib Ahammed</td>
                        <td>01758173764</td>
                        <td>SD</td>
                        <td>50000</td>
                        <td>5000</td>
                        <td>0</td>
                        <td>55000</td>
                        
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>Shirshir</td>
                        <td>01758173764</td>
                        <td>SD</td>
                        <td>50000</td>
                        <td>5000</td>
                        <td>0</td>
                        <td>55000</td>
                        
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>Rakib</td>
                        <td>0175800004</td>
                        <td>SD</td>
                        <td>50000</td>
                        <td>5000</td>
                        <td>0</td>
                        <td>55000</td>
                        
                    </tr>
                
                
                




                    <tr *ngFor="let salfm of Salaryforms; index as i;">
                        <td>{{salfm.id+9}}</td>
                        <td>{{salfm.name}}</td>
                        <td>{{salfm.phone}}</td>
                        <td>{{salfm.designation}}</td>
                        <td>{{salfm.basic}}</td>
                        <td>{{salfm.allowance}}</td>
                        <td>{{salfm.deduction}}</td>
                        <td>{{salfm.netSalary}}</td>
                        
                        <!-- <td>
                            <button class="btn btn-primary" (click)="editEmployee()">Edit</button>
                            ||
                            <button class=" btn btn-danger" (click)="deleteEmployee()">Delete</button>
                        </td> -->
                    </tr>
                </tbody>
        
            </table>
        </div>
        
       
      </div>
  
    </div>
  </div>

